{{ form_start(form, { attr: { class: 'ui form' } }) }}
    <div class="field">
        <label>问题</label>
        {{ form_widget(form.prompt) }}
    </div>
    <div class="field">
        <div class="ui checkbox">
            {{ form_widget(form.date, { attr: { type: 'hidden' } }) }}
            <label>日期</label>
        </div>
    </div>

    <button type="submit" class="ui primary button">保存</button>
{{ form_end(form) }}
