{% extends 'base.html.twig' %}

{% block body %}
  <div class="column">
    <h1 class="ui header">
      新建
    </h1>

    {% include 'completion/form.html.twig' with { form: form } only %}
  </div>
{% endblock %}
