{% extends 'base.html.twig' %}

{% block body %}
  <div class="column">
    <div class="ui right floated primary buttons">
      <div class="ui button">新建</div>
      <div class="ui floating dropdown icon button">
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="{{ path('app_choice_new') }}" class="item">选择题</a>
          <a href="{{ path('app_completion_new') }}" class="item">填空题</a>
        </div>
      </div>
    </div>

    <h1 class="ui header">
      问题
    </h1>

    <div class="ui divided items">
      {% for q in questions %}
        <div class="item">
          <div class="content">
            <div class="header">
              {{ q.prompt }}
              <a href="{{ path(q.options is defined ? 'app_choice_edit' : 'app_completion_edit', { question: q.id }) }}">
                <i class="edit icon"></i>
              </a>
            </div>
            <div class="meta">
              <label class="ui label">
                {% if q.options is defined %}
                  {{ q.multiple ? '多选' : '单选' }}
                {% else %}
                  {{ q.date ? '日期' : '填空' }}
                {% endif %}
              </label>
            </div>
            <div class="description">
              {% for opt in q.options|default([]) %}
                {{ loop.index }}. {{ opt }}<br>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
