{% extends 'base.html.twig' %}

{% block body %}
    <div class="column">
        <h1 class="ui header">{{ file.clientOriginalName }}</h1>

        <div class="ui top attached tabular menu">
            {% for title in pools|keys %}
                <a class="{% if loop.first %}active {% endif %}item" data-tab="{{ title }}">{{ title }}</a>
            {% endfor %}
        </div>
        {% for title, pool in pools %}
            <div class="ui bottom attached {% if loop.first %}active {% endif %}tab segment" data-tab="{{ title }}">
                <div class="ui feed">
                    {% for lane in pool %}
                        <div class="event">
                            <div class="label">
                                <i class="{% if lane.patient %}green checkmark{% else %}red warning{% endif %} icon"></i>
                            </div>
                            <div class="content">
                                <div class="summary">
                                    #{{ lane.row.rowIndex }}
                                    {% if lane.patient %}
                                        <a href="{{ path('app_patient_show', { patient: lane.patient.id }) }}" class="user">
                                            {{ lane.patient.name }}
                                        </a>
                                    {% endif %}
                                </div>
                                {% if lane.patient %}
                                    <div class="meta">
                                        ({{ lane.patient.cId }})
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
