{% extends 'base.html.twig' %}

{% block body %}
    <div class="column">
        <a href="javascript:;" class="ui right floated primary button" id="import">导入</a>
        <form action="{{ path('app_patient_import') }}"
              method="POST"
              enctype="multipart/form-data"
              style="display: none;">
            <input type="file" name="excel" />
        </form>

        <h1 class="ui header">病患</h1>

        <div class="ui divided items">
            {% for p in patients %}
                <div class="item">
                    <div class="content">
                        <a href={{ path('app_patient_show', { patient: p.id }) }} class="header">
                            {{ p.name }}
                            <small>
                                ({{ p.cId }})
                                <i class="{{ p.male ? 'man' : 'woman' }} icon"></i>
                            </small>
                        </a>
                        <div class="meta">
                            {{ p.physician }}
                        </div>
                        <div class="description">
                            {{ p.institution }}<br />
                            {{ p.district }}
                            {{ p.street }}
                        </div>
                        <div class="extra">
                            预约: {{ p.expireAt|date('Y-m-d') }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% import 'paginate.html.twig' as p %}
        {{ p.paginate(total, page, 'app_patient_index') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
     $('#import').click(function (e) {
         e.preventDefault();

         $('input[type="file"]').click();
     });
     $('input[type="file"]').change(function () {
         $('form').submit();
     })
    </script>
{% endblock %}
