{% extends 'base.html.twig' %}

{% block body %}
    <div class="column">
        <h1 class="ui header">
            {{ patient.name }} ({{ patient.cId }})
            <small><i class="{{ patient.male ? 'man' : 'woman' }} icon"></i></small>
            <div class="sub header">{{ patient.physician }}</div>
        </h1>

        <div>
            {% for phone in patient.phones if not phone.removedAt %}
		<div class="{% if phone.primary %}primary {% endif %} phone">
		    <span class="number">{{ phone.number }}</span>
		</div>
            {% endfor %}
	    <br>

            {{ patient.institution }}
            <br>
            {{ patient.district }}
            {{ patient.street }}
        </div>

        <br>
        <a href="{{ path('app_feed_new', { patient: patient.id }) }}" class="ui primary button">随访</a>
        <br>
        <small>预约: {{ patient.expireAt|date('Y-m-d') }}</small>

        <div class="ui feed">
            {% for feed in patient.feeds %}
                <div class="event">
                    <div class="label">
                        <i class="{% if feed.answers|length > 0 %}green checkmark{% else %}red warning{% endif %} icon"></i>
                    </div>
                    <div class="content">
                        {{ feed.synopsis }}<br>
                        {% if feed.answers is not empty %}
                            <div class="ui list">
                                {% for answer in feed.answers if answer.value is not empty %}
                                    <div class="item">
                                        <div class="content">
                                            {% if answer.choice is defined %}
                                                <div class="header">{{ answer.choice.prompt }}</div>
                                                <div class="description">
                                                    {{ answer.value is iterable ? answer.value|join(' / ') : answer.value }}
                                                </div>
                                            {% else %}
                                                <div class="header">{{ answer.completion.prompt }}</div>
                                                <div class="description">{{ answer.value }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="meta">
                            <div class="date">{{ feed.createdAt|date }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
