{% extends 'base.html.twig' %}

{% block body %}
  <div class="column">
    <h1 class="ui header">
      编辑
    </h1>

    {% include 'choice/form.html.twig' with { form: form } only %}
  </div>
{% endblock %}
