{{ form_start(form, { attr: { class: 'ui form' } }) }}
    <div class="field">
        <label>问题</label>
        {{ form_widget(form.prompt) }}
    </div>
    <div class="field">
        <label>选项</label>
        {% for option in form.options %}
            <div class="field">
                {{ form_widget(option) }}
            </div>
        {% endfor %}
        <button type="button" class="ui icon button fu-add">
            <i class="add icon"></i>
        </button>
        <script type="text/x-handlebars-template">
            <div class="field">
                {{ form_widget(form.options.vars.prototype)|replace({ __name__: '{{ name }}' })|raw }}
            </div>
        </script>

        {% do form.options.setRendered %}
    </div>
    <div class="field">
        <div class="ui checkbox">
            {{ form_widget(form.multiple, { attr: { type: 'hidden' } }) }}
            <label>多选</label>
        </div>
    </div>

    <button type="submit" class="ui primary button">保存</button>
{{ form_end(form) }}
