{% extends 'base.html.twig' %}

{% block body %}
    <div class="column">
        {{ form_start(form, { attr: { class: 'ui form' } }) }}
            <h1 class="ui header">
                {{ patient.name }} ({{ patient.cId }})
                <small><i class="{{ patient.male ? 'man' : 'woman' }} icon"></i></small>
                <div class="sub header">{{ patient.physician }}</div>
            </h1>

            <div>
		<div>
                    {% for phone in patient.phones if not phone.removedAt %}
			<div class="{% if phone.primary %}primary {% endif %} phone" data-url="{{ path('app_phone_delete', { patient: patient.id, phone: phone.id }) }}">
			    <span class="number">{{ phone.number }}</span>
			    <small style="margin-left: 1em;">
				<a href="javascript:;" class="default">默认</a>
				<a href="javascript:;" class="remove" style="margin-left: .5em;">删除</a>
			    </small>
			</div>
                    {% endfor %}
		    <a href="javascript:;" class="fu-add-phone" data-url="{{ path('app_phone_create', { patient: patient.id }) }}">
			增加
		    </a>
		    <script type="text/x-handlebars-template">
			<div class="phone" data-url="{{ '{{ url }}' }}">
			    <span class="number">{{ '{{ number }}' }}</span>
			    <small style="margin-left: 1em;">
				<a href="javascript:;" class="default">默认</a>
				<a href="javascript:;" class="remove" style="margin-left: .5em;">删除</a>
			    </small>
			</div>
		    </script>
		</div>
                <br>

                {{ patient.institution }}
                <br>
                {{ patient.district }}
                {{ patient.street }}
            </div>

	    <br>
            <div class="field">
                <label>备注</label>
                {{ form_widget(form.synopsis) }}
            </div>

            {{ form_widget(form.defer, { attr: { class: 'ui button' }, label: '延期' }) }}

            <h1 class="ui header">随访</h1>

            {% for answer in form.answers %}
                <div class="field">
                    {{ form_label(answer.value) }}
                    {% for opt in answer.value.children %}
                        <div class="field">
                            <div class="ui radio checkbox">
                                {{ form_widget(opt, { required: false }) }}
                                {{ form_label(opt) }}
                            </div>
                        </div>
                    {% endfor %}
                    {% if answer.vars.value.completion is defined %}
                        {{ form_widget(answer.value, { required: false, type: answer.vars.value.completion.date ? 'date' : 'text' }) }}
                    {% endif %}

                    {% do answer.comment.setRendered %}
                </div>
            {% endfor %}

            {{ form_widget(form.save, { attr: { class: 'ui primary button' }, label: '保存' }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
     $('.phone .default').click(function (e) {
         e.preventDefault();

         var phone = $(this).closest('.phone');
         $
	     .ajax(phone.data('url'), { method: 'PUT' })
	     .then(function () {
	         phone.siblings('.phone').removeClass('primary');
	         phone.addClass('primary');
	     })
         ;
     });

     $('.phone .remove').click(function (e) {
         e.preventDefault();

         var phone = $(this).closest('.phone');
         $
	     .ajax(phone.data('url'), { method: 'DELETE' })
	     .then(function () {
	         phone.remove();
	     })
         ;
     });

     $('.fu-add-phone').click(function (e) {
         e.preventDefault();

         var number = window.prompt('请输入新的联系方式:');
         if (number) {
	     var anchor = $(this);
	     $
	         .post(anchor.data('url'), {
		     'phone[number]': number,
	         })
	         .then(function (data) {
		     var tmpl = Handlebars.compile(anchor.next('script').html());
		     anchor.before(tmpl(data));
	         })
	     ;
         }
     });
    </script>
{% endblock %}
