<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('semantic-ui-css/semantic.min.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        <style>
         .primary.phone > .number {
             font-weight: bold;
         }
        </style>
    </head>
    <body>
        <div>
            <div class="ui inverted vertical right fixed menu">
                <div class="header item">随访</div>
                <div class="item">
                    <div class="menu">
                        <a href="{{ path('app_patient_index') }}" class="item">病患</a>
                        <a href="{{ path('app_question_index') }}" class="item">问题</a>
                    </div>
                </div>
            </div>

            <div style="margin-right: 15rem;">
                <div class="ui padded grid">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="{{ asset('jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('semantic-ui-css/semantic.min.js') }}"></script>
        <script src="{{ asset('handlebars/dist/handlebars.min.js') }}"></script>
        <script src="{{ asset('lodash/lodash.min.js') }}"></script>
        <script>
         $('.ui.dropdown').dropdown();
         $('.menu .item').tab();

         $('.fu-add').click(function (e) {
             e.preventDefault();

             var anchor = $(this);
             var tmpl = Handlebars.compile(anchor.next('script').html());
             anchor.before(tmpl({ name: _.uniqueId() }));
         });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
