{% macro paginate(total, current, route, parameters) %}
  {% if total > 1 %}
    {% spaceless %}
      {% set l = min(max(1, current - 2), total - 4) %}
      {% set h = l + 4 %}

      {% set k = 1 %}
      <div class="ui pagination menu">
        {% for i in 1..9 %}
          {% if k <= 2 or (l <= k and k <= h) or (total - 1 <= k and k <= total) %}
              <a href="{{ path(route, parameters|default({ })|merge({ page: 'p_' ~ k })) }}"
                 class="{% if k == current %}active {% endif %}item">{{ k }}</a>
          {% endif %}

          {% if (k == 2 and l > 3) or (k == h and h < total - 2) %}
            <li><span class="disabled item">&hellip;</span></li>
            {% set k = k == 2 ? l : total - 1 %}
          {% else %}
            {% set k = k + 1 %}
          {% endif %}
        {% endfor %}
      </div>
    {% endspaceless %}
  {% endif %}
{% endmacro %}
